.page-header {
    background-color: #b2afab;
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.element {
	background-image: url("https://covid-dashboard-sl.s3.ap-south-1.amazonaws.com/Home-01.jpg");
} 